<%= flash[:sign_in_error] %>

<form action='/sessions' method='post'>
  <label>Email:</label>
  <input type='text' name='email' />
  <label>Password:</label>
  <input type='password' name='password' />
  <input type='submit' value='Sign in' name='Sign in' />
</form>

<form action='/users/new' method='get'>
  <input type='submit' value='Sign up' name='Sign up' />
</form>
