<h1><b>Your passwords did not match, please re-enter your details: (#idiot)</b></h1>
<form action='/verify-pw' method='post'>
  <input type='text' name='username' value='Enter username' />
  <input type='text' name='email' value='Enter email address' />
  <input type='password' name='password' value='Enter password' />
  <input type='password' name='password_check' value='Enter password Again' />
  <input type='submit' value='Submit' name='Submit' />
</form>
