<% if flash[:errors] && !flash[:errors].empty? %>
  <ul>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action='/users' method='post'>
  <label>Email:</label>
  <input type='text' name='email' value='<%= flash[:email] %>' />
  <label>Password:</label>
  <input type='password' name='password' />
  <label>Re-enter password:</label>
  <input type='password' name='password_confirmation' />
  <input type='submit' value='Submit' name='Submit' />
</form>
</p>
