<p>Welcome to bookmark manager, <%= current_user.email %></p>

<h1> Links </h1>

<ul class='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL:   <%= link.url   %>
  </li>
  <% end %>
</ul>

<form action="/links/new">
  <button type="submit"> Add new link</button>
</form>
