<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<% if current_user %>
<form action='/sessions' method='post'>
  <input type='hidden' name="_method" value='delete' />
  <input type='submit' value='Sign out' />
</form>
<% end %>

<h1> Links </h1>

<ul class='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL:   <%= link.url   %>
  </li>
  <% end %>
</ul>

<form action="/links/new">
  <button type="submit">Add new link</button>
</form>
