<form action="/links" method="post">
  <div>
    Title:
    <input type="text" name="title"/>
  </div>
  <div>
    URL:
    <input type="text" name="url"/>
  </div>
  <div>
    Tag:
    <input type="text" name="tags"/>
  </div>
  <button type="submit">Create link</button>
</form>
