<form action="/links/saving" method="post">
  <div>
    Title:
    <input type="text" name="title"/>
  </div>
  <div>
    URL:
    <input type="text" name="url"/>
  </div>
  <button type="submit"> Create link</button>
</form>
