<form action='/do-signup' method='post'>
  <input type='text' name='username' value='Enter username' />
  <input type='text' name='email' value='Enter email address' />
  <input type='submit' value='Submit' name='Submit' />
</form>
