<% if flash[:error] %>
<p><%= flash[:error] %></p>
<% end %>

<form action='/do-signup' method='post'>
  <label>Email:</label>
  <input type='text' name='email' value='<%= flash[:email] %>' />
  <label>Password:</label>
  <input type='password' name='password' />
  <label>Re-enter password:</label>
  <input type='password' name='password_confirmation' />
  <input type='submit' value='Submit' name='Submit' />
</form>
