<% if flash[:success] %>
<p><%= flash[:success] %></p>
<% end %>

<form action='/do-signup' method='post'>
  <input type='text' name='username' value='Enter username' />
  <input type='text' name='email' value='Enter email address' />
  <input type='password' name='password' value='Enter password' />
  <input type='password' name='password_confirmation' value='Enter password Again' />
  <input type='submit' value='Submit' name='Submit' />
</form>
